<!DOCTYPE html>
<html>
<head>
    <title>TalkAngularJS</title>
    <meta name="description" content="TalkAngularJS" />

    <base href="@(HttpContext.Current.Request.GetBaseUrl())" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Themes/base/css/site.css")">
</head>
<body ng-app="myApp">
    <div>
        Hello {{ 'Marvin' + ' 42' }} !
    </div>

    <!-- Assets -->
    <script src="@Url.Content("~/Public/assets/angular.min.js")"></script>
    <script src="@Url.Content("~/Public/assets/angular-ui-router.min.js")"></script>

    <!-- App -->
    <script src="@Url.Content("~/Public/app/app.module.js")"></script>
    <script src="@Url.Content("~/Public/app/app.config.js")"></script>

    <!-- Controllers -->
    <script src="@Url.Content("~/Public/app/controllers/controllerModule.js")"></script>

    <!-- Services -->
    <script src="@Url.Content("~/Public/app/services/serviceModule.js")"></script>

    <!-- Repositories -->

</body>
</html>