<!DOCTYPE html>
<html>
<head>
    <title>TalkAngularJS</title>
    <meta name="description" content="TalkAngularJS" />

    <base href="@(HttpContext.Current.Request.GetBaseUrl())" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/site.css")">
</head>
<body ng-app="myApp">
    <ui-view></ui-view>

    <!-- Assets -->
    <script src="@Url.Content("~/Public/assets/angular.min.js")"></script>
    <script src="@Url.Content("~/Public/assets/angular-ui-router.min.js")"></script>

    <!-- Components -->
    <script src="@Url.Content("~/Public/app/components/storage.js")"></script>

    <!-- App -->
    <script src="@Url.Content("~/Public/app/app.module.js")"></script>
    <script src="@Url.Content("~/Public/app/app.config.js")"></script>

    <!-- Todo -->
    <script src="@Url.Content("~/Public/app/todo/todo.module.js")"></script>
    <script src="@Url.Content("~/Public/app/todo/todo.config.js")"></script>
    <script src="@Url.Content("~/Public/app/todo/todo.service.js")"></script>
    <script src="@Url.Content("~/Public/app/todo/todo.controller.js")"></script>
    <script src="@Url.Content("~/Public/app/todo/components/statusFilter.js")"></script>

    <!-- User -->
    <script src="@Url.Content("~/Public/app/user/user.module.js")"></script>
    <script src="@Url.Content("~/Public/app/user/userProfile.js")"></script>

    <!-- About -->
    <script src="@Url.Content("~/Public/app/about/about.module.js")"></script>
    <script src="@Url.Content("~/Public/app/about/about.config.js")"></script>

</body>
</html>