<!DOCTYPE html>
<html>
<head>
    <title>TalkAngularJS</title>
    <meta name="description" content="TalkAngularJS" />

    <base href="@(HttpContext.Current.Request.GetBaseUrl())" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/site.css")">
</head>
<body ng-app="myApp">
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">AngularJS Todo</h3>
        </div>

        <p class="actions">
            <a class="btn btn-lg btn-success" href="#" role="button">Ajouter une Todo</a>
        </p>

        <ol class="todos list-group">
            <li class="todo list-group-item">
                <label class="toggle">
                    <input type="checkbox">
                </label>
                <p>{{ 'Marvin' + ' 42' }}</p>         
                <button type="button" class="btn btn-warning btn-delete btn-xs">Supprimer</button>
            </li>
            <li class="todo list-group-item">
                <label class="toggle">
                    <input type="checkbox">
                </label>
                <p>{{ 'Marvin' + ' 42' }}</p>
                <button type="button" class="btn btn-warning btn-delete btn-xs">Supprimer</button>
            </li>
            <li class="todo list-group-item">
                <label class="toggle">
                    <input type="checkbox">
                </label>
                <p>{{ 'Marvin' + ' 42' }}</p>
                <button type="button" class="btn btn-warning btn-delete btn-xs">Supprimer</button>
            </li>
        </ol>

        <footer class="footer">
            <p>©2016 DaTeam</p>
        </footer>
    </div>

    <!-- Assets -->
    <script src="@Url.Content("~/Public/assets/angular.min.js")"></script>
    <script src="@Url.Content("~/Public/assets/angular-ui-router.min.js")"></script>

    <!-- App -->
    <script src="@Url.Content("~/Public/app/app.module.js")"></script>
    <script src="@Url.Content("~/Public/app/app.config.js")"></script>

</body>
</html>