<!DOCTYPE html>
<html>
<head>
    <title>TalkAngularJS</title>
    <meta name="description" content="TalkAngularJS" />

    <base href="@(HttpContext.Current.Request.GetBaseUrl())" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/site.css")">
</head>
<body ng-app="myApp">
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">AngularJS Todo</h3>
        </div>

        <p class="actions">
            <a class="btn btn-lg btn-success" href="#" role="button">Ajouter une Todo</a>
        </p>

        <ol class="todos">
            <li class="todo">
                <div class="page-header">
                    <h1>{{ 'Marvin' + ' 42' }}</h1>
                </div>
                <p class="lead">Todo texte.</p>
            </li>
            <li class="todo">
                <div class="page-header">
                    <h1>{{ 'Marvin' + ' 42' }}</h1>
                </div>
                <p class="lead">Todo texte.</p>
            </li>
        </ol>

        <footer class="footer">
            <p>©2016 DaTeam</p>
        </footer>
    </div>

    <!-- Assets -->
    <script src="@Url.Content("~/Public/assets/angular.min.js")"></script>
    <script src="@Url.Content("~/Public/assets/angular-ui-router.min.js")"></script>

    <!-- App -->
    <script src="@Url.Content("~/Public/app/app.module.js")"></script>
    <script src="@Url.Content("~/Public/app/app.config.js")"></script>

    <!-- Controllers -->
    <script src="@Url.Content("~/Public/app/controllers/controllerModule.js")"></script>

    <!-- Services -->
    <script src="@Url.Content("~/Public/app/services/serviceModule.js")"></script>

    <!-- Repositories -->

</body>
</html>